 .addedPerson{
    color:rgb(45, 113, 56);
    font-size: 30px;
    font-style: italic;
    padding: 11px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    border-style:solid ;
    margin-bottom: 13px;
 }
.errorMessage{
   color:rgb(255, 0, 0);
   font-size: 34px;
   font-style: italic;
   padding: 11px;
   display:flex;
   justify-content: center;
   align-items: center;
   background: rgba(31, 45, 58, 0.296);
   border-style:solid ;
   margin-bottom: 12px;
}


