
services:
  backend:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - "3000:3001"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      MONGO_URL: mongodb://mongo:27017/the_database?authSource=admin
      REDIS_URL: redis://redis:6379
      NODE_ENV: development
      PORT: 3001
    depends_on:
      - mongo
      - redis
    command: npm run dev

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: the_database
    volumes:
      - mongo_data:/data/db
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

  redis:
    image: redis:7
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  mongo_data:
  redis_data:

